@import url(./__wrapper/form__wrapper.css);
@import url(./__select/form__select.css);
@import url(./__submit/form__submit.css);

.form {
  display: flex;
  align-items: center;
  margin-left: 5px;
}

@media screen and (max-width:1150px) {
  .form {
    width: 100%;
    justify-content: flex-end;
    padding: 16px 0 0;
  }
}


@media screen and (max-width:775px) {
  .form {
    flex-direction: column;
    padding: 0;
    margin: 0
  }
}
