@import url(./__value/price__value.css);
@import url(./__value/_type/_nosale/price__value_type_nosale.css);
@import url(./__sale/price__sale.css);

.price {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 32px 0 24px;
  border-left: 2px solid rgba(255, 255, 255, .2);
  border-right: 2px solid rgba(255, 255, 255, .2);
}

@media screen and (max-width: 1150px) {
  .price {
    padding: 0 14px 10px;
  }
}

@media screen and (max-width: 775px) {
  .price {
    width: 100%;
    position: static;
    border: none;
    border-top: 2px solid rgba(255, 255, 255, .2);
    border-bottom: 2px solid rgba(255, 255, 255, .2);
    padding: 15px 0;
    margin: 20px 0;
  }
}
