.about__container {
  display: flex;
  flex-direction: column;
  max-width: 1110px;
  width: calc(100% - 44px);
  margin: 0 auto;
  position: relative;
  z-index: 2;
}

@media screen and (max-width:1150px) {
  .about__container {
    align-items: flex-start;
    margin: 20px auto;
    width: fit-content;
  }

  .about__container br {
    display: none;
  }
}

@media screen and (max-width: 775px) {
  .about__container {
    width: calc(100% - 32px);
  }
}
